In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Setting up Seaborn
sns.set()

In [2]:
import json

In [18]:
with open('message_2.json' , 'r') as f:
    data = json.load(f)

In [19]:
df = pd.DataFrame(data['messages'])

In [20]:
df

,sender_name,timestamp_ms,content,type,photos,share,reactions,sticker,videos
0,Sanju Adhikari,1582466755631,Jaila ne sangai basne k,Generic,NaN,NaN,NaN,NaN,NaN
1,Regmi C. Mahesh,1582466743134,Kaile bhetni,Generic,NaN,NaN,NaN,NaN,NaN
2,Sanju Adhikari,1582466742709,I am lucky for you,Generic,NaN,NaN,NaN,NaN,NaN
3,Sanju Adhikari,1582466735417,Ho tw,Generic,NaN,NaN,NaN,NaN,NaN
4,Sanju Adhikari,1582466733765,K ess ne,Generic,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3965,Regmi C. Mahesh,1580278418859,Class ma xau,Generic,NaN,NaN,NaN,NaN,NaN
3966,Regmi C. Mahesh,1580278414999,Aaja mobile dai le bokya xa ni ta,Generic,NaN,NaN,NaN,NaN,NaN
3967,Sanju Adhikari,1580278412615,Kaa xau??,Generic,NaN,NaN,NaN,NaN,NaN
3968,Regmi C. Mahesh,1580278401810,Hajur,Generic,NaN,NaN,NaN,NaN,NaN
3969,Sanju Adhikari,1580278389362,Har na reply nagarakk,Generic,NaN,NaN,NaN,NaN,NaN

In [21]:
df.drop(["timestamp_ms", "photos", "videos" ,"share","reactions","sticker"], inplace=True, axis=1)

In [22]:
df.type.value_counts()

Generic    3950
Share        20
Name: type, dtype: int64

In [23]:
shared = df['type'] != "Share"

df = df[shared]

In [24]:
df.drop('type', axis=1, inplace=True)

/home/crmahesh/anaconda3/envs/ml/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [25]:
df.content = df.content.str.replace(r"[^a-zA-Z0-9\s]", "")

/home/crmahesh/anaconda3/envs/ml/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [26]:
df.content = df.content.str.strip()

/home/crmahesh/anaconda3/envs/ml/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [28]:
df = df[df['content'] != ""]

In [29]:
df.shape

(3428, 2)

In [30]:
df = df.dropna()

In [31]:
df.shape

(3370, 2)

In [32]:
df.head()

       sender_name                  content
0   Sanju Adhikari  Jaila ne sangai basne k
1  Regmi C. Mahesh             Kaile bhetni
2   Sanju Adhikari       I am lucky for you
3   Sanju Adhikari                    Ho tw
4   Sanju Adhikari                 K ess ne

In [77]:
df.to_csv("data_2.csv", index=False)

In [78]:
!ls

data.csv  fb_messager.ipynb  message_1.json  message_2.json

In [33]:
df.sort_index(ascending=False, inplace=True)

In [34]:
df.to_csv("data_clean_2.csv", index=False)

In [89]:
pd.get_dummies(df['sender_name'], )

      Regmi C. Mahesh  Sanju Adhikari
9998                0               1
9997                1               0
9996                0               1
9995                1               0
9994                0               1
...               ...             ...
4                   0               1
3                   1               0
2                   1               0
1                   0               1
0                   1               0

[8146 rows x 2 columns]