In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Setting up Seaborn
sns.set()

In [2]:
df = pd.read_csv("data_clean.csv")

In [5]:
df

          sender_name             content
0      Sanju Adhikari               Ho tw
1     Regmi C. Mahesh              Ess ho
2      Sanju Adhikari          Kkkk badar
3     Regmi C. Mahesh  Kaile Jane ta room
4      Sanju Adhikari                 Bae
...               ...                 ...
8141   Sanju Adhikari       Mah sutxu abo
8142  Regmi C. Mahesh                 hus
8143  Regmi C. Mahesh        rati bolamla
8144   Sanju Adhikari         Ohhhhhhhhhh
8145  Regmi C. Mahesh              o bebi

[8146 rows x 2 columns]