In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Setting up Seaborn
sns.set()

In [3]:
df1 = pd.read_csv("data_clean.csv")

In [4]:
df2 = pd.read_csv("data_clean_2.csv")

In [5]:
df = pd.concat([df1,df2])

In [6]:
df

          sender_name                  content
0      Sanju Adhikari                    Ho tw
1     Regmi C. Mahesh                   Ess ho
2      Sanju Adhikari               Kkkk badar
3     Regmi C. Mahesh       Kaile Jane ta room
4      Sanju Adhikari                      Bae
...               ...                      ...
3365   Sanju Adhikari                 K ess ne
3366   Sanju Adhikari                    Ho tw
3367   Sanju Adhikari       I am lucky for you
3368  Regmi C. Mahesh             Kaile bhetni
3369   Sanju Adhikari  Jaila ne sangai basne k

[11516 rows x 2 columns]

In [7]:
df.to_csv("complete_log.csv", index=False)